body{
	margin:0px;
}

.container{
width: 405px;
height: 720px;
margin: auto;
position: relative; /* position is relative to the viewport */
/* we have set the margin to be auto - margin auto on all four
sides positions the element centered in the woindow */
width: 400px;
height: 200px;
}

.holderR{
width: 100px;
height: 100;
float: left; /*margin: auto;*/
margin-top: 12px;
position: absolute; /* absolute to the parent */
top: 19px;
left: 65px;
transform: rotate(-36deg);
}


.inline{
	display:inline;
}



.inlineblock{
	display:inline-block;
}



#extra-top-margin{
	margin-top:100px;
}

#outer {
width: 400px;
height: 400px;
margin-top: 175px;
margin-right: 100px;
margin-left: 100px;
float: left;
background: #5A142A; 
}

#inner {
width: 300px;
height: 300px;
margin-top: 75px;
margin-right: 100px;
margin-left: 50px;
float: left;
background: #8F1D2C; 
}

#inner2 {
width: 200px;
height: 200px;
margin-top: 75px;
margin-right: 50px;
margin-left: 50px;
float: left;
background: #DB2B30; 
}


.type1{
font-weight: bold;
font-family: "avenir", sans-serif;
position:relative;top: 4px;
font-size: 18px;

}

.heading{
font-weight: bold;
font-family: "Avenir", san serif;
font-size: 40px;
}

.under{
		position: relative;
		top: 0;
		left: 0;
	}

.ontop1{
		position:absolute;
		top: -9px;
		left: 183px;
}

.ontop2{
		position:absolute;
		top: 183px;
		left: -9px;
}

.ontop3{
		position:absolute;
		top: 183px;
		left: 406px;
}

.ontop4{
		position:absolute;
		top: 407px;
		left: 183.5px;
}

.ontop5{
		position:absolute;
		top: 0px;
		left: 70px;
}

.ontop6{
		position:absolute;
		top: 65px;
		left: 1px;
}

.ontop7{
		position:absolute;
		top: 293px;
		left: 0px;
}

.ontop8{
		position:absolute;
		top: 367px;
		left: 68.5px;
}


.ontop9{
		position:absolute;
		top: 0px;
		left: 292px;
}

.ontop10{
		position:absolute;
		top: 66px;
		left: 364px;
}

.ontop11{
		position:absolute;
		top: 293px;
		left: 364px;
}

.ontop12{
		position:absolute;
		top: 367px;
		left: 293px;
}






.margintop{margin-top: 400px;}

.inlinejpg{
	display:inline;
	padding-left:320px;
	margin-top: 15px;
}

.absolute{
	position: absolute;
}